<div class="dashboard-view">
  <div class="view-opts-bar">
    <app-heading class="app-heading-em" style="/*border:solid 1px red;*/max-width: 100%; text-align: center" FlexOrder="1" [model]="hModelEnggMat"></app-heading>
  </div>
  <hr class="divider"/>
  <div class="metric-detail-content" fxLayout="row">
<!--
    <app-metric-graph [model]="this.metricGraphModel"></app-metric-graph>
-->

    <app-engx-graph [model]="this.lobGraphModel"></app-engx-graph>
    <div class="metric-product-list" [ngClass]="{'visible': this.buildingBlocks, 'hidden': !this.buildingBlocks}"fxFlex>
      <app-building-blocks [buildingBlocks]="this.buildingBlocks" [isComponentList]="!!this.productId"></app-building-blocks>
    </div>
  </div>
</div>